.img-contain {
    background-size: cover;
    &__homehero {
        @extend .img-contain;
        max-width: 50%;
        max-height: 10rem;
    }
    &__Project {
        @extend .img-contain;
        max-width: 90%;
        max-height: 50vh;
        min-height: 20rem;
    }
}