.logo {
    font-size: 3rem;
    // background-color: aqua;
    margin-left: 3rem;
}
.logoKoko {
    color: $brand-secondary;
    text-shadow: $shadow;
    font-family: $font-family-logo;
    font-weight: normal;
}

.logotext {
    font-weight: bold;
    // font-size: 1.1em;
    &-neo {
        @extend .logotext;
        color: $color-neo-green;
    }
    &-nic {
        @extend .logotext;
        color: $color-neo-blue;
    }
}

.legal {
    font-size: 1.2em;
    text-align: center;
    padding: 1.5em;
    color: $color-white;
    background-color: $color-black;
    border-top: $border;
}