.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0;
  @include respond(break-s) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
    padding: 0;
  }
  @include respond(break-m) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
    padding: 0;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 2em;
  @include respond(break-s) {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    margin: auto;
    padding: 2em;
  }
}