*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  box-sizing: inherit;
  width: 100%;
  height: 100%;
  perspective: 900; }

.wrap {
  padding: 10px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

body {
  background-color: green; }
  @media (min-width: 400px) {
    body {
      background-color: red; } }
  @media (min-width: 600px) {
    body {
      background-color: blue; } }
  @media (min-width: 900px) {
    body {
      background-color: pink; } }
  @media (min-width: 1100px) {
    body {
      background-color: yellow; } }

html {
  font-family: "Gloria+Hallelujah", cursive;
  color: #222;
  font-size: 10px; }

.center-text {
  text-align: center; }

.big {
  font-size: 2em; }

h1 {
  font-size: 2.6em; }
  @media (min-width: 600px) {
    h1 {
      font-size: 3.8em; } }
  @media (min-width: 900px) {
    h1 {
      font-size: 4.4em; } }

h2 {
  font-size: 2.2em; }
  @media (min-width: 600px) {
    h2 {
      font-size: 3.2em; } }
  @media (min-width: 900px) {
    h2 {
      font-size: 3.6em; } }

h3 {
  font-size: 1.8em;
  color: #2f2f2f; }
  @media (min-width: 600px) {
    h3 {
      font-size: 2em; } }
  @media (min-width: 900px) {
    h3 {
      font-size: 2.2em; } }

h4 {
  font-weight: normal;
  font-size: 1.6em; }
  @media (min-width: 600px) {
    h4 {
      font-size: 1.8em; } }
  @media (min-width: 900px) {
    h4 {
      font-size: 2em; } }

h5 {
  font-size: 1.4em;
  font-weight: normal; }
  @media (min-width: 900px) {
    h5 {
      font-size: 1.8em; } }

h6 {
  font-size: 1.2em;
  font-weight: normal; }
  @media (min-width: 900px) {
    h6 {
      font-size: 1.6em; } }

p,
li {
  font-size: 1.3em; }
  @media (min-width: 600px) {
    p,
    li {
      font-size: 1.6em; } }

a {
  color: #006b93;
  text-decoration: none; }

ol {
  padding-left: 5em; }

.h2-section {
  color: #222;
  padding: 1em; }

.heading {
  padding-bottom: 1em; }

.pargraph {
  text-align: left;
  padding-bottom: .5em; }

.text-box, .text-box-center {
  position: absolute; }
  .text-box-center {
    top: 50%;
    right: 50%;
    text-align: center;
    transform: translate(50%, -50%); }

.img-contain, .img-contain__homehero, .img-contain__Project {
  background-size: cover; }
  .img-contain__homehero {
    max-width: 50%;
    max-height: 10rem; }
  .img-contain__Project {
    max-width: 90%;
    max-height: 50vh;
    min-height: 20rem; }

.logo {
  font-size: 3rem;
  margin-left: 3rem; }

.logoKoko {
  color: #CC8800;
  text-shadow: 0.05em 0.05em 0.08em #222, 0.08em 0.08em 0.1em #008cc1;
  font-family: "Merienda", cursive;
  font-weight: normal; }

.logotext, .logotext-neo, .logotext-nic {
  font-weight: bold; }
  .logotext-neo {
    color: #65b144; }
  .logotext-nic {
    color: #008cc1; }

.legal {
  font-size: 1.2em;
  text-align: center;
  padding: 1.5em;
  color: #fff;
  background-color: #222;
  border-top: 3px solid #65b144; }

.background-hero {
  height: 95vh;
  background-image: -webkit-linear-gradient(top left, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/heroBackground.jpg);
  background-image: -o-linear-gradient(top left, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/heroBackground.jpg);
  background-image: linear-gradient(to bottom right, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/heroBackground.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }

.background-koko {
  height: 70vh;
  background-image: -webkit-linear-gradient(bottom right, rgba(0, 64, 64, 0.5), rgba(13, 255, 255, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-image: -o-linear-gradient(bottom right, rgba(0, 64, 64, 0.5), rgba(13, 255, 255, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-image: linear-gradient(to top left, rgba(0, 64, 64, 0.5), rgba(13, 255, 255, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/7/7b/Golden_retriever_welpe_meer.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); }

.topbar {
  height: 7rem;
  background-color: #222;
  border-bottom: 3px solid #65b144;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav, .nav-side, .nav-top {
  font-size: 1.4em;
  list-style: none; }
  .nav-side {
    margin-top: .5em; }
  .nav-top {
    align-self: stretch;
    display: flex;
    align-items: center;
    align-self: stretch; }

.nav-link:link,
.nav-link:visited {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1.5rem 3rem; }

.nav-link:hover {
  color: #008cc1; }

.nav-link:active {
  color: #008cc1; }

.hero-home, .hero-home__about, .hero-home__koko {
  height: 80vh;
  min-height: 30rem;
  background-color: #fff; }

.heroText-home {
  color: #222; }
.heroText-main, .heroText-main-home, .heroText-main-section {
  display: block;
  text-align: center; }
  .heroText-main-home {
    font-size: 1.5em;
    font-weight: 700; }
  .heroText-main-section {
    font-size: 1em;
    font-weight: 700; }
.heroText-sub, .heroText-sub-home, .heroText-sub-section {
  display: block;
  text-align: center; }
  .heroText-sub-home {
    font-size: .5em;
    font-weight: 400; }
  .heroText-sub-section {
    font-size: .55em;
    font-weight: 400;
    padding-bottom: 1em; }

.hero-text {
  text-align: center; }
  .hero-text__main {
    display: block;
    font-size: 1.5em; }
  .hero-text__sub {
    display: block;
    font-size: .5em;
    color: #f6f5f5; }

.section-grandstack {
  background-color: #bde0ae;
  text-align: center;
  padding-bottom: 4em; }
.section-uxhome {
  background-color: #fff;
  text-align: center;
  padding: 4em; }
.section-tutorials {
  text-align: left;
  margin: 1rem;
  padding-left: 1rem; }
.section-projects {
  background-color: #fff;
  padding: 2rem;
  text-align: center; }

.sidebar-container {
  display: flex; }

.sidebar-side {
  background-color: #222;
  flex: 0 0 18%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-main {
  background-color: #fff;
  flex: 1;
  min-height: 90vh; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }
  @media (min-width: 600px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }
  @media (min-width: 900px) {
    .grid-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 0; } }

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 2em; }
  @media (min-width: 600px) {
    .grid-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 2em; } }

/*# sourceMappingURL=app.css.map */
