.hero-home {
    // background-image: $gradient, url(../../img/HeroHomeBG.jpg);
    // background-size: cover;
    // background-position: center;
    // padding-top: 10rem;
    // padding-bottom: 5rem;
    height: 80vh;    
    min-height: 30rem ;
    background-color: $color-white;
    // margin-top: -6rem;
    &__about {
      @extend .hero-home;
    }
    &__koko {
      @extend .hero-home;
    }
}

.heroText {

    &-home {
        // @extend .heroText;
        color: $color-black;
        // padding: 50px;   
    }
    &-main {
        display: block;
        text-align: center;

        &-home {
            @extend .heroText-main;
            font-size: 1.5em;
            font-weight: 700;
            // letter-spacing: 20px;
        }
        &-section {
            @extend .heroText-main;
            font-size: 1em;
            font-weight: 700;
            // letter-spacing: 20px;
        }
    }
    &-sub {
        display: block;
        text-align: center;
        &-home {
            @extend .heroText-sub;
            font-size: .5em;
            font-weight: 400;
            // letter-spacing: 7px;
        }
        &-section {
            @extend .heroText-sub;
            font-size: .55em;
            font-weight: 400;
            padding-bottom: 1em;
            // letter-spacing: 7px;
        }
    }
}
.hero-text {
    text-align: center;
    &__main {
      display: block;
      font-size: 1.5em;
    }
    &__sub {
      display: block;
      font-size: .5em;
      color: $base-light
    }
  }
