
.topbar {
    height: 7rem;
    background-color: $color-black;
    // $color-white ;
    border-bottom: $border; 
    color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(break-s) {
        
      }
      @include respond(break-m) {
        
      }
      @include respond(break-l) {
        
      }
      // @include respond(break-xl) {
      //   
      // }
}

.nav {
    font-size: 1.4em;
    list-style: none;
    &-side {
        @extend .nav;
        margin-top: .5em;
    }
    &-top {
        @extend .nav;
        align-self: stretch;
        // margin-right: 1rem;
        display: flex;
        align-items: center;
        align-self: stretch;
        // background-color: pink;
    }
}

.nav-item{

 }
.nav-link:link,
.nav-link:visited {
    color: $color-white;
    text-decoration: none;
    // text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
}
.nav-link:hover {
    color: $color-neo-blue;
}
.nav-link:active {
    color: $color-neo-blue;
}




