html {
    font-family: $font-family-main;
    color: $color-black;
    font-size: $font-size-base;
  }

.center-text {
    text-align: center;
}
  
.big {
    font-size: 2em;
}
  
h1 {
font-size: 2.6em;
    @include respond(break-s) {
        font-size: 3.8em;
    }
    @include respond(break-m) {
        font-size: 4.4em;
    }
    // @include respond(break-l) {
    //     font-size: 5em;
    // }
}
  
h2 {
    font-size: 2.2em;
    // font-weight: normal;
    @include respond(break-s) {
        font-size: 3.2em;
    }
    @include respond(break-m) {
        font-size: 3.6em;
    }
    // @include respond(break-l) {
    //     font-size: 4.2em;
    // }
}

h3 {
    font-size: 1.8em;
    color: lighten($color-black, 5%);
    @include respond(break-s) {
        font-size: 2em;
    }
    @include respond(break-m) {
        font-size: 2.2em;
    }
    // @include respond(break-l) {
    //     font-size: 3.6em;
    // }
}

h4 {
    font-weight: normal;
    font-size: 1.6em;
    @include respond(break-s) {
        font-size: 1.8em;
    }
    @include respond(break-m) {
        font-size: 2em;
    }
    // @include respond(break-l) {
    //     font-size: 3em;
    // }
}

h5 {
    font-size: 1.4em;
    font-weight: normal;
    @include respond(break-m) {
        font-size: 1.8em;
    }   
}
h6 {
    font-size: 1.2em;
    font-weight: normal;    
    @include respond(break-m) {
        font-size: 1.6em;
    }
    

}

p,
li {
    font-size: 1.3em;
    @include respond(break-s) {
        font-size: 1.6em;
    }
}

a {
    color: darken($color-neo-blue, 9);
    text-decoration: none;
}

ol {
    padding-left: 5em;
}